<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<div th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>毕业设计</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
    <!-- Fontawesome css -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <!-- Ionicons css -->
    <link rel="stylesheet" th:href="@{/css/ionicons.min.css}">
    <!-- linearicons css -->
    <link rel="stylesheet" th:href="@{/css/linearicons.css}">
    <!-- Nice select css -->
    <link rel="stylesheet" th:href="@{/css/nice-select.css}">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" th:href="@{/css/jquery.fancybox.css}">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
    <!-- Meanmenu css -->
    <link rel="stylesheet" th:href="@{/css/meanmenu.min.css}">
    <!-- Nivo slider css -->
    <link rel="stylesheet" th:href="@{/css/nivo-slider.css}">
    <!-- Owl carousel css -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <!-- Bootstrap css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Custom css -->
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <!-- Main css -->
    <link rel="stylesheet" th:href="@{/style.css}">
    <!-- Responsive css -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- jquery 3.2.1 -->
    <script th:src="@{/js/vendor/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/vendor/modernizr-3.5.0.min.js}"></script>
    <script th:src="@{/js/pages.js}"></script>
    <!-- Countdown js -->
    <script th:src="@{/js/jquery.countdown.min.js}"></script>
    <!-- Mobile menu js -->
    <script th:src="@{/js/jquery.meanmenu.min.js}"></script>
    <!-- ScrollUp js -->
    <script th:src="@{/js/jquery.scrollUp.js}"></script>
    <!-- Nivo slider js -->
    <script th:src="@{/js/jquery.nivo.slider.js}"></script>
    <!-- Fancybox js -->
    <script th:src="@{/js/jquery.fancybox.min.js}"></script>
    <!-- Jquery nice select js -->
    <script th:src="@{/js/jquery.nice-select.min.js}"></script>
    <!-- Owl carousel -->
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- Bootstrap popper js -->
    <script th:src="@{/js/popper.min.js}"></script>
    <!-- Bootstrap js -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- Plugin js -->
    <script th:src="@{/js/plugins.js}"></script>
    <!-- Jquery ui price slider js -->
    <script th:src="@{/js/jquery-ui.min.js}"></script>
</div>

<div th:fragment="js">
    <!-- Main activaion js -->
</div>
</html>